/* Tailwind */
@import "tailwindcss";

/* =========================
   Vazirmatn
========================= */

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/ttf/Vazirmatn-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/ttf/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/ttf/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Peyda
========================= */

@font-face {
  font-family: "Peyda";
  src: url("./assets/fonts/woff2/Peyda-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Tailwind Theme
========================= */

@theme {
  --font-sans: "Vazirmatn", sans-serif;
  --font-peyda: "Peyda", sans-serif;

  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/* =========================
   Global
========================= */

body {
  overflow-x: hidden;
  font-family: var(--font-sans);
}
